.card__like-button {
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  align-self: center;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/like-button.svg);
  transition: all 0.2s ease-in;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
