.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1279px) {
  .header {
    margin-top: 3.5vw;
  }
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 100%;
    margin-top: 28px;
  }
}
