.card__like-counter {
  margin: 0;
  padding: 0;
  /* max-width: 25px; 4-х значные не влезают */
  height: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
